

.page {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid red;
    background-color:#EAEDF0;
  }

.container{
    overflow: hidden;
    border: 1px solid red;
    background-color: #EAEDF0 ;
}

.menu {
    height: 100px;
    border: 1px solid blue;
    background-color: #B2D6FF;    /* Medium blue */
  }
  
  .sidebar {
    float: left;
    width: 206px;
    height: 300px;
    border: 1px solid rgb(4, 36, 4);
    background-color: #F09A9D;    /* Red */
  }
  
  .content {
    float:right;
    padding:20px;
    width: 650px;
    height: 500px;
    border: 1px solid black;
    background-color: #F5CF8E;    /* Yellow */
  }

  .article-image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .footer {
    overflow: hidden;
     

    border: 1px solid rgb(234, 0, 255);
    background-color: #D6E9FE;    /* Light blue */
  }


  
  .footerItem {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
   
    
    background-color: #B2D6FF;    /* Medium blue */
  }

  .avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin: 25px;
    border-radius: 40px;
    background-color: #D6E9FE;
  }
  
  .username {
    margin-top: 5px;
  }
  
  .comment {
    margin: 10px;
    overflow: hidden;  /* This is important */
  }